/nbproject/private/
/build/
/dist/
/SKClr/nbproject/private/
/SKClr/build/
/SKClr/dist/
/JavaFXApplication36/nbproject/private/
/DragAndDropExample/nbproject/private/
/Main/nbproject/private/
/Main/build/
/Main/dist/
/HelloDragAndDrop/nbproject/private/
/HelloDragAndDrop/build/
/HelloDragAndDrop/dist/
/D15/nbproject/private/
/D15/build/
/D15/dist/