/DragResizer/nbproject/private/
/JavaFXApplication43/nbproject/private/
/JavaFXApplication43/dist/
/JavaFXApplication43/build/
/nbproject/private/
/dist/
/build/
/PracticaBD/nbproject/private/
/PracticaBD/dist/
/PracticaBD/build/
/paint/nbproject/private/
/paint/build/
/paint/dist/
/Login/nbproject/private/
/MicroPaint/nbproject/private/